
@model DMX.ViewModels.AddTransportModeVM;

<div class="slide-panel" data-panel="transportPanel" id="transportPanel">
    <div class="card">
        <div class="card-header">
                <h6 class="d-inline">Add Transport Mode</h6>
            
            <button id="closeTransportPanel" type="button" data-close="transportPanel"  class="d-line btn btn-sm btn-outline-danger fa-pull-right">X</button>

        </div>
             @using (Html.BeginForm("AddTransportMode", "Settings", FormMethod.Post))
            {
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-code"></i>
                    </div>  <div class="did-floating-label-content">
                        <input class="did-floating-input" type="text" asp-for="@Model.Name" id="txtAddTransportName" placeholder=""   required/>
                        <label class="did-floating-label"  for="txtAddTransportName">Name</label>
                    </div>
                    </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-code"></i>
                    </div>  <div class="did-floating-label-content">
                        <input  class="did-floating-input" type="text" asp-for="@Model.Code"id="txtAddTransportCode" placeholder=""  required/>
                        <label class="did-floating-label" for="txtAddTransportCode">Code</label>
                    </div>
                    </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-code"></i>
                    </div>  <div class="did-floating-label-content">
                        <input class="did-floating-input" type="text" asp-for="@Model.Description"  id="txtAddTransportDescription"  placeholder="" required/>
                        <label  class="did-floating-label" for="txtAddTransportDescription">Description</label>
                    </div>
                   </div>
                    </div>

                    <div class="card-footer"><button class="btn btn-block btn-primary">Save</button></div>
                }
            </div>
    </div>


