
@using DMX.ViewComponents
@model IEnumerable<DMX.ViewModels.ViewPermissionsVM>


<div class="card shadow mb-4 rounded">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Permissions</h6>

        
        <button id="openPermissionPanel"  class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" data-open="permissionPanel"><i class="fa fa-fw fa-plus-circle"></i>Add Permission</button>

    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table dataTables_wrapper" id="dtPermissions">
    <thead>
        <tr>
            <th>Role</th>
   
                        <th>Module</th>
                        <th>Action</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                
                        @foreach (var perm in Model)
                        {
                            <tr>
                                <td></td>
                                <td>@perm.ModuleName</td>
                                <td>@perm.ActionName</td>
                                <td>@perm.Code</td>
                                <td>@perm.Description</td>
                                <td>
                                <div class="btn-group"><button class="btn btn-outline-primary btn-rounded"><i class="fa fa-edit"></i></button><button class="btn btn-outline-primary"><i class="fa fa-edit"></i></button><button class="btn btn-outline-primary btn-rounded"><i class="fa fa-edit"></i></button></div>
                                </td>
                            </tr>
                   
                        
                    }
            
                </tbody>
            </table>
        </div>
    </div>
</div>
@await Component.InvokeAsync(nameof(AddPermission))
