
@model DMX.ViewModels.AddPermissionVM

<div class="slide-panel" data-panel="permissionPanel" id="permissionPanel">
    <div class="card">

        
            <div class="card-header">

                <h6 class="d-inline">Add Permission</h6>
                <button id="btnClosePermission" data-close="permissionPanel" type="button" name="nClosePermissionPanel"  class="d-line btn btn-sm btn-outline-danger fa-pull-right">X</button>
            </div>
             @using (Html.BeginForm("AddPermission", "Permission", FormMethod.Post))
            {
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-calendar-check"></i>
                    </div>
                    <div class="did-floating-label-content">
                        <input class="did-floating-input" type="text" asp-for="@Model.ModuleName"  id="txtModule"   placeholder="" />
                        <label class="did-floating-label" for="txtModule">Module</label>
                    </div>
                    </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-calendar-check"></i>
                    </div>
                    <div class="did-floating-label-content">
                    <input class="did-floating-input" type="text" asp-for="@Model.ActionName" id="txtAction"  placeholder="" />
                    <label  class="did-floating-label" for="txtAction">Action</label>
                </div>
                </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-calendar-check"></i>
                    </div>
                    <div class="did-floating-label-content">
                    <input class="did-floating-input" type="text" asp-for="@Model.Description" id="txtDescription"  placeholder="" />
                    <label class="did-floating-label"  for="txtAction">Description</label>
                </div>
                </div>
                    
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-block btn-primary">Save</button>
                        </div>
                }
            </div>
    </div>


   
