
@model DMX.ViewModels.AddDeceasedTypeVM

<div class="slide-panel"  data-panel="deceasedPanel" id="deceasedPanel">
    <div class="card">

        
            <div class="card-header">

                <h6 class="d-inline">Add Deceased Type</h6>
                <button id="btnCloseDeceased" type="button" name="nCloseDceasedPanel" data-close="deceasedPanel" class="d-line btn btn-sm btn-outline-danger fa-pull-right">X</button>
            </div>
             @using (Html.BeginForm("AddDeceasedType", "Settings", FormMethod.Post))
            {
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-heading"></i>
                    </div>
                    <div class="did-floating-label-content">
                        <input type="text" class="did-floating-input" asp-for="@Model.Name" id="txtDTypeName"   placeholder="" />
                        <label class="did-floating-label" for="txtDTypeName">Name</label>
                    </div>
                    </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-code"></i>
                    </div>  <div class="did-floating-label-content">
                    <input type="text" class="did-floating-input" asp-for="@Model.Code" id="txtDTypeCode" placeholder="" />
                    <label class="did-floating-label">Code</label>
                    </div>
                    </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-edit"></i>
                    </div>  <div class="did-floating-label-content">
                    <input type="text" class="did-floating-input" asp-for="@Model.Description" id="txtDTypeDesc"   placeholder="" />
                        <label  class="did-floating-label" for="txtAddDTypeDesc">Description</label>
                    </div>
                    </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-block btn-primary">Save</button>
                        </div>
                }
            </div> 
    </div>


   
