
@model DMX.ViewModels.DetailLetterVM;

<div class="modal fade" id="AddMemo" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Memo</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">

                            <div class="card">
                                <div class="card-header">
                                    <h5>Document Detail</h5>
                                    <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                </div>
                                <div class="card-body">
                                   
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">Reference Number</span></div>
                                            <input type="text" asp-for="@Model.ReferenceNumber" class="form-control"  readonly />

                                        </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">Document Source</span></div>
                                                <input type="text" asp-for="@Model.ReferenceNumber" class="form-control"  readonly/>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">Receipt Date</span></div>
                                                <input  value="@Model.Date" class="form-control">

                                            </div>
                                            </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">Document Date</span></div>
                                                <input value="@Model.Date.ToString("dd/MM/yyyy")" class="form-control"  readonly />

                                                </div>
                                            </div>
                                            <div class="form-group">
                                              

                                            </div>

                                            <div class="form-group">
                                    


                                            </div>

                                            <a class="btn btn-block btn-primary" asp-action="ViewDocuments" asp-controller="Document">Return</a>

                                        </div>
                            </div>
                        </div>


           

                       
                    </div>
                            </div>
                        
    

