
@model DMX.ViewModels.AddMeetingVM;

<div class="modal fade" id="AddMeeting" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Add Meeting</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
             @using (Html.BeginForm("AddMeeting", "Training", FormMethod.Post))
            {
            <div class="modal-body">

           


                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Name"  placeholder=""/>
                        <label >Meeting Name</label>
                    </div>

                    <div class="floating-group">
                        <input type="date" asp-for="@Model.Date"   placeholder="" asp-format="{0:dd/MMMM/yyyy}"/>
                        <label >Meeting Date</label>
                    </div>
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Description"  placeholder="" required />
                        <label >Meeting Description</label>
                    </div>




                </div>
                    <div class="modal-footer"><button class="btn btn-block btn-primary">Save</button></div>
                }
            </div>
    </div>
</div>

    
