<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> sim
@inject UserManager<AppUser> usm
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DMX - Home</title>

    <!-- Custom fonts for this template-->
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" type="text/css"/>
    
    <link href="~/lib/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />
   
    
   <!-- Custom styles for this template-->
   <link href="~/ospapps/toggleSwitch.css" rel="stylesheet" type="text/css"/>
   <link href="~/ospapps/slidePanel.css" rel="stylesheet" type="text/css"/>


    <link href="~/ospapps/UploadButton.css" rel="stylesheet" type="text/css"/>
    <link href="~/ospapps/radioButton.css" rel="stylesheet" type="text/css" />
  

    <link href="~/lib/choices.js/choices.css" rel="stylesheet" />
    <link href="~/lib/choices.js/choices.min.css" rel="stylesheet" />
    <link href="~/ospapps/dropdownCustomItem.css" rel="stylesheet" type="text/css"/>
   <link href="~/ospapps/ospapps.css" rel="stylesheet" type="text/css"/>

   <link href="~/ospapps/floatingLabel.css" rel="stylesheet" type="text/css"/>
    <link href="~/ospapps/avatar.css" rel="stylesheet" type="text/css"/>
    <link href="~/ospapps/fileuploadbutton.css" rel="stylesheet" type="text/css"/>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"  type="text/css"/>
    <link href="~/ospapps/popup.css" rel="stylesheet" />

    
    <link href="~/lib/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/ospapps/custom-pills.css" rel="stylesheet" type="text/css"/>
    <link href="~/ospapps/customChoices.css" rel="stylesheet" type="text/css" />
   <link href="~/ospapps/ellipses.css" rel="stylesheet" type="text/css"/>

    <link href="~/ospapps/fieldset.css" rel="stylesheet" />
    <link href="~/ospapps/iframe.css" rel="stylesheet" type="text/css"/>
    <link href="~/ospapps/customecheckbox.css" rel="stylesheet" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" type="text/css" />
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-fw fa-2xl fa-files"></i>
                </div>
                <div class="sidebar-brand-text mx-3">DMX</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="ViewDashboard" asp-controller="Report">
                    <i class="fas fa-3x fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Activities
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-fw fa-file fa-2x"></i>
                    <span>Documents</span>
                </a>
                <div id="collapseOne" class="collapse"  aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">New Documents</h6>
                        <a class="collapse-item" asp-action="ViewMemos" asp-controller="Memo"><i class="fas fa-fw  fa-file-alt mr-1"></i>Memos</a>
                        <a class="collapse-item" asp-action="ViewExcuseDuties" asp-controller="ExcuseDuty"><i class="fas fa-fw  fa-hands-helping mr-1"></i>Excuse Duty</a>
                        <a class="collapse-item" asp-action="ViewPettyCash" asp-controller="PettyCash"><i class="fas fa-fw  fa-cash-register mr-1"></i>Petty Cash</a>
 
                        @* <a class="collapse-item" asp-action="ViewSickReports" asp-controller="SickReport">Sick Report</a> *@
                        <a class="collapse-item" asp-action="ViewDeceaseds" asp-controller="Deceased"><i class="fas fa-fw fa-bed-pulse mr-1 text-danger"></i>Deceased</a>
                        <a class="collapse-item" asp-action="ViewLetters" asp-controller="Letter"><i class="fas fa-fw fa-envelopes-bulk mr-1"></i>Letters</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-3x fa-file"></i>
                  <span>Requests</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">New Requests</h6>
                     
                        <a class="collapse-item" asp-action="ViewTravelRequests" asp-controller="TravelRequest"><i class="fas fa-fw fa-car mr-1"></i>
                            Travel Request
                        </a>
                        <a class="collapse-item" asp-action="ViewServiceRequests" asp-controller="ServiceRequest"><i class="fas fa-fw fa-hospital-user mr-1"></i>Service Request</a>
                     
                    </div>
                </div>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
        

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Admin Section
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-3x fa-cog"></i>
                    <span>Settings</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">System</h6>
                    
                        <a class="collapse-item" asp-action="SystemSetup" asp-controller="Settings"><i class="fas fa-fw fa-gears mr-1"></i>System Setup</a>

                        <a class="collapse-item" asp-action="UserManagement" asp-controller="Permission"><i class="fas fa-fw fa-users-gear mr-1"></i>User Management</a>
                       @*  <a class="collapse-item" asp-action="ViewRoles" asp-controller="Permission">Roles</a>
                        <a class="collapse-item" asp-action="ViewUserRoles" asp-controller="Permission">User Roles</a> 
                        
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Account</h6>
                        <a class="collapse-item" asp-action="ViewUsers" asp-controller="Account">Users</a> *@
                      
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button title="sidebarButton" class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

       

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input id="txtSearch" title="inputSearch" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" title="searchButton" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                          
                            @await Component.InvokeAsync("UserMessages")
                            </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        
                        <!-- Nav Item - User Information -->
                       
                        <li> @await Component.InvokeAsync("UserComponent")</li>
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row page-titles mx-0">
                        <div class="col-sm-6 p-md-0">
                            <div class="welcome-text">
                                <h5>Welcome to UERH Dashboard</h5>
                               
                            </div>
                        </div>
                     
                    </div>
                    @RenderBody()
                 

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                @* <div class="container my-auto"> *@
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
               @*  </div> *@
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade"  id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                    
                    <form asp-action="Logout" asp-controller="Account">
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
 







    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery.collapsible/jquery.collapsible.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/dataTables/js/jquery.dataTables.js"></script>
    <script src="~/lib/dataTables/js/dataTables.bootstrap4.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>


    <script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
    <script src="~/ospapps/slidePanel.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-timeago/jquery.timeago.min.js"></script>
    <script src="~/ospapps/ospapps.js" asp-append-version="true"></script>

    <script src="~/ospapps/ellipses.js" asp-append-version="true"></script>
    <script src="~/ospapps/choices.js"></script>
    <script src="~/lib/choices.js/choices.js"></script>
    <script src="~/lib/choices.js/choices.min.js"></script>
    <script src="~/ospapps/popup.js"></script>
    <script src="~/ospapps/tinymce.js"></script>
    <script src="~/ospapps/openDialogByParams.js"></script>
    <script src="~/ospapps/openDialogFromData.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/lib/lottie-web/lottie.min.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")


  
 
</body>

</html>