
@model DMX.ViewModels.EditMemoVM;

<div class="modal fade" id="EditMemo" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Edit Memo</h6>
                <button type="button" onclick="document.getElementById('EditMemo').close()" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <div class="modal-body">


                        @using(Html.BeginForm("EditMemo", "Memo", FormMethod.Post))
                        {
                

                            <div class="floating-group">
                                <input  asp-for="@Model.Title" placeholder="" />
                                <label >Title</label>
                            </div>
                  
                     <div class="form-group">     
                    <textarea id="MemoContent"  type="text" placeholder="Current Diagnoses" asp-for="@Model.Content" required="required" style="min-height:300px"></textarea>

                    </div>

                   
                            <div class="floating-group">
                                    <select id="selectUser" class="did-floating-select" asp-items="@Model.UsersList" asp-for="@Model.SelectedUsers" multiple ></select>
                               <label >Select User(s)</label>
                            </div>
                       
                                <button class="btn btn-block btn-primary">Update</button>
                          
                      
                  
      }
     </div>
     </div>
     </div>
     </div>
     <script>
         $(document).ready(function () {
             tinymce.init({
                 selector: '#MemoContent'
             });
         });
         $(document).ready(function () {
                    $('#selectUser').select2({
                        dropdownParent: $('#EditMemo')
                    });

         })
    </script>
