@using DMX.ViewComponents
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-1 shadow-sm" id="pillNav2" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link custom-tab rounded-1 active" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-user" aria-selected="true"><i class="fas fa-fw fa-users mr-1 text-black-50"></i>Users</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link custom-tab rounded-1" id="pills-roles-tab" data-bs-toggle="pill" data-bs-target="#pills-roles" type="button" role="tab" aria-controls="pills-roles" aria-selected="true">Roles</button>
        </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link custom-tab rounded-1" id="pills-userroles-tab" data-bs-toggle="pill" data-bs-target="#pills-userroles" type="button" role="tab" aria-controls="pills-userroles" aria-selected="true">User Roles</button>
    </li>
    <li class="nav-item" role="presentation">

        <button class="nav-link custom-tab rounded-1" id="pills-rolepermissions-tab" data-bs-toggle="pill" data-bs-target="#pills-rolepermissions" type="button" role="tab" aria-controls="pills-rolepermissions" aria-selected="true">Role Permissions</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link custom-tab  rounded-1" id="pills-permissions-tab" data-bs-toggle="pill" data-bs-target="#pills-permissions" type="button" role="tab" aria-controls="pills-permissions" aria-selected="true">Permissions</button>
    </li>


    
    </ul>
<div class="tab-content mt-3" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">@await Component.InvokeAsync(nameof(ViewUsers))</div>
    <div class="tab-pane fade" id="pills-roles" role="tabpanel" aria-labelledby="pills-roles-tab">@await Component.InvokeAsync(nameof(ViewRoles))</div>  
    <div class="tab-pane fade" id="pills-userroles" role="tabpanel" aria-labelledby="pills-userroles-tab">@await Component.InvokeAsync(nameof(ViewUserRoles))</div>
    <div class="tab-pane fade" id="pills-rolepermissions" role="tabpanel" aria-labelledby="pills-rolepermissions-tab">@await Component.InvokeAsync(nameof(ViewRolePermissions))</div>
    <div class="tab-pane fade" id="pills-permissions" role="tabpanel" aria-labelledby="pills-permissions-tab">@await Component.InvokeAsync(nameof(ViewPermissions))</div>
</div>


