
@model DMX.ViewModels.EditPerdiemVM;

<div class="modal fade" id="EditPerDiem" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">

                <h6>Edit Perdiem</h6>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
           
         
            </div>
             @using (Html.BeginForm("EditPerDiem", "Settings", FormMethod.Post, new{id="editPerdiemForm"}))
            {
            <div class="modal-body">
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Name"  readonly>
                        <label >Name</label>
                    </div>

                    <div class="floating-group">
                        <input  asp-for="@Model.Department" type="text" readonly>
                        <label >Department</label>
                    </div>
                    <div class="floating-group">
                        <input type="text" asp-for="@Model.Rank"  readonly>
                        <label >Rank</label>
                    </div>

                    <div class="floating-group">
                        <input type="number" step="0.0001" asp-for="@Model.Amount"  required>
                        <label >Rate/Amount</label>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnEditPerdiem" class="btn btn-block btn-primary">Update</button>
                        </div>
                }
            </div>
    </div>
</div>

<script>
        $(document).ready(function () {


            

         const formSelector = '#editPerdiemForm';

            const form = document.querySelector(addExcuseDutyFormSelector);
         document.getElementById("btnEditPerdiem").addEventListener("click", function (event) {
            event.preventDefault(); // Prevent immediate submission
                if (!form.checkValidity()) {
                form.reportValidity(); // Display browser validation messages
                return; // Stop further execution if validation fails
            }

            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to update this record?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, save it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("editPerdiemForm").submit(); // Correct form ID
                }
            });
        });
    });

</script>
