
@using System.Web
@using DMX.ViewComponents

@model IEnumerable<DMX.ViewModels.RolesVM>

@inject Microsoft.AspNetCore.DataProtection.IDataProtectionProvider DataProtectionProvider
@using Microsoft.AspNetCore.DataProtection
@{
    // Optional: create protector in view (same purpose string)
    var protector = DataProtectionProvider.CreateProtector("IdProtector");
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary d-inline">Roles</h6>

        <button class="btn btn-sm btn-rounded  btn-outline-primary fa-pull-right" onclick="document.getElementById('AddRoleDialog').showModal()"><i class="fa fa-fw fa-plus-circle"></i>Add Role</button>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table dataTables_wrapper" id="dtRoles">



               
                        <thead>
                            <tr>

                            <tr>
                                <th>SN</th>
                                <th>Name</th>
                                
                                <th>Description</th>
                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>@role.Name</td>
                               
                                <td>@role.Description</td>
                                    <td>
                                  
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group me-2" role="group" aria-label="First group">
                             
                    <button type="button" class="btn btn-warning" onclick="openDialogFromData(this)" data-url="RolePermissions" data-user-id="@protector.Protect(role.Id).ToString())" data-dialog-id="RolePermissionsDialog"><i class="fa fa-edit"></i></button>
                                                <button type="button" class="btn btn-danger" onclick="handleRoleDelete('@role.Id')"><i class="fa fa-trash"></i></button>
                                   
                              
                                    </div>
                                    </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            
        </div>
    </div>
    <div class="card-footer"></div>
    </div>
<dialog id="EditRoleDialog" class="rounded border-0 col-md-4">
    <div id="EditRoleDialogContent"></div>
    </dialog>
@await Component.InvokeAsync(nameof(AddRole))



    <script>
    function handleRoleDelete(roleId) {

        pujs.popup(
            '<i class="fa fa-exclamation-triangle fa2x" style="color: orange;"></i>',
            'Are you sure you want to delete this role?',
            [
                {
                    text: 'Cancel',
                    callback: () => {},
                    color: 'red'
                },
                {
                    text: 'Yes',
                    callback: () => {

                        fetch(`/YourController/DeleteClient/${roleId}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            body: `id=${encodeURIComponent(roleId)}`
                        })
                        .then(res => res.json())
                        .then(response => {
                            if (response.success) {
                                pujs.popup('Success', response.message || 'Deleted successfully.');
                                location.reload();
                            } else {
                                pujs.popup('Error', response.message || 'Could not delete.');
                            }
                        })
                        .catch(() => {
                            pujs.popup('Error', 'Server error occurred.');
                        });

                    },
                    color: 'green'
                }
            ],
            'horiz'
        );
    }
</script>

