* {
    box-sizing: border-box;
}

.custom-checkbox input[type=checkbox] {
    display: none;
}

.custom-checkbox label {
    position: relative;
    height: 30px;
    line-height: 28px;
    margin: 4px;
    padding: 0px 4px 0px 8px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-family: helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .custom-checkbox label::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 26px;
        height: 28px;
        width: 2px;
        border-left: 1px solid #aaa;
    }

    .custom-checkbox label::after {
        content: '\2713';
        text-align: center;
        margin-left: 12px;
        display: inline-block;
        border-radius: 4px;
        border: 1px dashed #999;
        height: 21px;
        line-height: 20px;
        width: 20px;
    }

.custom-checkbox input[type=checkbox]:checked + label {
    border: 1px solid #4575ab;
    color: #4575ab;
}

    .custom-checkbox input[type=checkbox]:checked + label::after {
        border: 1px solid #4575ab;
        background-color: #4575ab;
        color: #fff;
    }

    .custom-checkbox input[type=checkbox]:checked + label::before {
        border-left: 1px solid #4575ab;
    }
