
@model DMX.ViewModels.AddDepartmentVM

<div class="slide-panel"  data-panel="departmentPanel" id="departmentPanel">
    <div class="card">

        
            <div class="card-header">

                <h6 class="d-inline">Add Department</h6>
                <button id="closeDeptPanel" type="button" name="nCloseDeptPanel" data-close="departmentPanel" class="d-line btn btn-sm btn-outline-danger fa-pull-right">X</button>
            </div>
             @using (Html.BeginForm("AddDepartment", "Settings", FormMethod.Post))
            {
            <div class="card-body">
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-diagnoses"></i>
                    </div>
                    <div class="did-floating-label-content">
                        <input class="did-floating-input" type="text" asp-for="@Model.Name" id="txtAddDeptName"  placeholder="" />
                        <label class="did-floating-label"  for="txtAddDeptName">Name</label>
                    </div>
                    </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-diagnoses"></i>
                    </div>
                    <div class="did-floating-label-content">
                        <input class="did-floating-input" type="text" asp-for="@Model.Code"id="txtAddDeptCode"   placeholder="" />
                        <label class="did-floating-label"  for="txtAddDeptCode">Code</label>
                    </div>
                    </div>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="fas fa-diagnoses"></i>
                    </div>
                    <div class="did-floating-label-content">
                        <input class="did-floating-input" type="text" asp-for="@Model.Description" id="txtAddDeptDescription"   placeholder=""/>
                        <label class="did-floating-label"  for="txtAddDeptDescription">Description</label>
                    </div>
                    </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-block btn-primary">Save</button>
                        </div>
                }
            </div>
    </div>


   
